/* Header */

header {

  .game-title-wrapper {

    .game-title {
      color: $color-primary;
      font-family: $ff-decorative;
      font-size: 4rem;
      letter-spacing: 0.25rem;
      text-align: center;
      padding-top: 5rem;
    }

  }

}