*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

// Sizing from the root
:root {
  font-size: 1rem;
}

@media (min-width: $breakpoint-medium) {
  :root {
    font-size: 1.15rem;
  }
}

@media (min-width: $breakpoint-large) {
  :root {
    font-size: 1.35rem;
  }
}
